<main>
  <h1><%= t("home.title") %></h1>
  <h4><%= t("home.subtitle") %></h4>
  <p>
    <%= t("home.description", email: '<a href="mailto:hi@trymailgpt.com">hi@trymailgpt.com</a>').html_safe %>
  </p>
  <ul>
    <% (1..3).each do |i| %>
      <li><%= t("home.feature-#{i}") %></li>
    <% end %>
  </ul>
  <p>
    <%= t("home.post-script") %>
  </p>
  <p>
    <%= image_tag "screenshot.jpg", alt: t("home.screenshot-alt") %>
  </p>
</main>