<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= dir_attribute %>">
  <head>
    <title><%= content_for(:title) || t("meta.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="description" content="<%= t("meta.description") %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% I18n.available_locales.each do |locale| %>
      <link rel="alternate" hreflang="<%= locale %>" href="<%= url_for(locale: locale, only_path: false) %>" />
    <% end %>
    <link rel="alternate" hreflang="x-default" href="/" />

    <%= yield :head %>

    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/favicon.png" />

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V90JXSMNZS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-V90JXSMNZS');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
